<section id="events__section">
	<div class="container">
		<%= message %>
		<div class="row">
			<!-- card 1 -->
			<% events.forEach((event) => { %>
			<div class="col-lg-3 col-md-6 event__card">
				<div class="card">
					<img
						class="card-img-top event__image"
						src="/images/tech-confer-1.jpg"
						alt="tech conference"
					/>
					<div class="card-body">
						<a class="card-title event__title" href="/event/<%=event.id %>">
							<%= event.title %>
						</a>
						<p class="card-subtitle event__description">
							<%= `${event.description.slice(0, 49)}......` %>
						</p>
						<p class="card-text event__metadata">
							<span class="location"> <%= event.location %> </span> <br />
							<span class="date">
								<%= event.date.toDateString() %> <br />
							</span>
							<span class="time"> <%= event.time %>, </span>
							<span class="type"> <%= event.type %> </span>
						</p>
						<p class="card-text event__price">Ghc <%= event.price %></p>
						<div class="d-grid">
							<a
								type="button"
								href="/register"
								class="btn btn-lg btn-dark text-nowrap"
							>
								Attend</a
							>
						</div>
					</div>
				</div>
			</div>
			<% }) %>
		</div>
	</div>
</section>
